/* <!-- HTML !-->
<button class="button-37" role="button">Button 37</button> */

body {
  background: url(./resources/cow.jpg);
  background-size: cover; /* <------ */
  background-repeat: repeat;
  background-position: center center;
  margin: 15vh;
  height: 100vh;
  /* display: flex; */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  background: transparent; /* peachpuff;*/
  /* align-items: flex-start; */
  align-items: center;
}

h1 {
  flex: 1;
  text-align: center;
  /* color: #13aa52; */
  font-size: 6vh;
}

.flex-container {
  display: flex;
  background: transparent; /* peachpuff;*/
  /* border: 4px solid blue; */
  /* margin: 16px; */
  /* background-color: lightblue; */
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.attempt-container {
  flex: 1;
  display: flex;
  background: transparent;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  margin: 1vh;
  /* border: 4px solid brown; */
}

.attempt-container label {
  /* background: peachpuff; */
  /* border: 4px solid brown; */
  color: rgb(241, 165, 99);
  flex: 1;
  /* margin: 16px;
  height: 10vh; */
  text-align: center;
  /* flex-direction: column; */
  font-size: 7vw;
  /* box-sizing: border-box; */
  /* width: 50vw; */
}

/* this selector selects all divs inside of .flex-container */
.attempt-container input {
  background: transparent; /* peachpuff;*/
  background-color: peachpuff;
  /* border: 4px solid brown; */
  /* height: 150px; */
  flex: 1;
  /* margin: 16px;

  height: 10vh;  */
  text-align: center;
  /* flex-direction: column; */
  font-size: 7vw;
  /* box-sizing: border-box; */
  /* width: 50vw; */
}

.attempt-container span {
  /* background: peachpuff; */
  /* border: 4px solid brown; */
  /* height: 150px; */
  color: rgb(241, 165, 99);
  flex: 1;
  /* margin: 16px;

  height: 10vh; */
  text-align: center;
  /* flex-direction: column; */
  font-size: 7vw;
  white-space: nowrap;
  /* box-sizing: border-box; */
  /* width: 50vw; */
}

/* CSS */
#startBtn {
  flex: 1;
  width: 20vw;

  background-color: #13aa52;
  /* border: 1px solid #13aa52; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 4vw;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

#startBtn:disabled {
  color: #666;
  background-color: #d6d0d0;
}

@media (min-width: 768px) {
  #startBtn {
    padding: 10px 30px;
  }
}

.square-inputa {
  width: 100px; /* Set the width */
  height: 100px; /* Set the height to the same value as width */
  box-sizing: border-box; /* Ensures padding and border do not affect the size */
  padding: 10px; /* Optional padding */
  font-size: 16px; /* Font size for the input text */
}

#greeting {
  flex: 1;
  text-align: center;
  color: #13aa52;
  font-size: 3vh;
}

#info {
  /* color: rgb(241, 165, 99); */
  background: lightblue;
  border: solid white;
  width: 40vw;
  display: none;
}